.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #F57921;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game {
  background-color: #F57921;
  display: flex;
  justify-content: center;
}

.board {
  background-color: #398BD4;
  border-width: 7px;
  border-style: solid;
  border-color: #FFCA08;
  max-width: 325px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  margin: 10px;
}

.dice {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: -2px 2px 4px #191919;
}

.dice-span {
  top: 50%;
  display: block;
  position: relative;
  transform: translateY(-50%);
}
